<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.pdev.you.persistence.mapper.AssociationMapper">
    <select id="getListByParticipant" resultType="top.pdev.you.domain.model.dto.AssociationBaseInfoDTO">
        SELECT a.id         AS id,
               a.name       AS name,
               a.summary    AS summary
        FROM association a
                 JOIN association_participant ap
                      ON ap.association_id = a.id
                 JOIN student s
                      ON s.id = ap.student_id
        WHERE ap.student_id = #{sid}
    </select>
    <select id="getListByAdmin" resultType="top.pdev.you.domain.model.dto.AssociationBaseInfoDTO">
        SELECT a.id         AS id,
               a.name       AS name,
               a.summary    AS summary
        FROM association a
                 JOIN association_manager am
                      ON am.association_id = a.id
        WHERE am.user_id = #{uid}
    </select>
</mapper>