<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.pdev.you.persistence.mapper.ClassMapper">
    <select id="getClassInfoList" resultType="top.pdev.you.domain.model.dto.ClassInfoDTO">
        SELECT c.id    AS id,
               c.name  AS name,
               cp.name AS campus,
               i.name  AS institute,
               c.year  AS grade
        FROM class c
                 JOIN campus cp
                      ON c.campus_id = cp.id
                 JOIN institute i
                      on c.institute_id = i.id
        <where>
            <if test="vo.name != null">
                AND c.name LIKE CONCAT('%', #{vo.name}, '%')
            </if>
            <if test="vo.instituteId != null">
                AND c.institute_id = #{vo.instituteId}
            </if>
            <if test="vo.instituteId != null">
                AND c.campus_id = #{vo.campusId}
            </if>
        </where>
        ORDER BY c.name
    </select>
</mapper>