<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.pdev.you.persistence.mapper.PostMapper">

    <select id="findByAssociationIdOrContentContainingOrderByTimeDesc"
            resultType="top.pdev.you.domain.entity.Post">
        SELECT
        id,
        association_id,
        user_id,
        content,
        time
        FROM post
        <where>
            <if test="aid != null">
                AND association_id = #{aid}
            </if>
            <if test="content != null">
                OR LOWER(content) LIKE LOWER(CONCAT('%', #{content}, '%'))
            </if>
        </where>
        ORDER BY time DESC
    </select>
</mapper>